@import 'partials/fonts';
@import 'partials/colors';
@import 'partials/vars';
@import 'partials/layout';

#loader {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 90000;
}

#loader.fadeOut {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

body {
  font-family: $fontBody;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  #wrapper {
    position: relative;
    min-height: 100%;
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
  }
}

#header-wrapper {
  color: #fff;
  height: 42px;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
  #logo-wrap {
    background: $primaryColor;
    width: $sidebarOpenWidth;
    transition: all .3s ease;
    h1,h2,h3,h4,h5 {
      margin: 0;
    }
    > div {
      position: absolute;
      left: 15px;
      top: 0;
    }
    #small {
      opacity: 1;
      visibility: visible;
      transition: all .2s ease .3s;
    }
    #big {
      opacity: 1;
      visibility: visible;
      transition: all .2s ease .3s;
    }
  }
  #header-info {
    color: $primaryColor;
    position: fixed;
    left: $sidebarOpenWidth;
    background: #fff;
    right: 0;
    transition: all .3s ease;
    #menu-clicker {
      display: inline-block;
      font-size: 18px;
      padding: 12px;
      line-height: 0;
      span {
        cursor: pointer;
      }
    }
    #user-info {
      float: right;
      padding-top: 8px;
      margin-right: 9px;
      cursor: pointer;
      height: 42px;
      position: relative;
      ._pic {
        display: inline-block;
        width: 27px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 6px;
      }
      .user-menu {
        display: inline-block;
        vertical-align: top;
        padding-top: 3px;
        ._down {
          font-size: 0.7em;
          top: 1px;
          position: relative;
          padding-left: 3px;
          display: inline-block;
        }
        ._submenu {
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 34px;
          left: 0;
          right: 0;
          padding: 6px;
          background: #fff;
          opacity: 0;
          visibility: hidden;
          transition: all .3s ease;
          li {
            a {
              font-size: 0.9em;
              color: #333;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
      &:hover {
        .user-menu {
          ._submenu {
            opacity: 1;
            visibility: visible;
            transition: all .3s ease;
          }
        }
      }
    }
  }
}

#content-wrapper {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
  #content-inner {
    padding: 12px;
    background: $lightBlack;
  }
}

#sidebar-wrap {
  background: $primaryColor;
  width: $sidebarOpenWidth;
  color: #fff;
  transition: all .3s ease;
  ul {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    li {
      a {
        display: block;
        padding: 9px 15px;
        color: darken(#fff, 12);
        position: relative;
        font-size: 0.9em;
        &:hover {
          text-decoration: none;
          background: lighten($primaryColor, 15);
          color: #fff;
        }
        &:after {
          position: absolute;
          content: '';
          width: 2px;
          height: 100%;
          background: lighten($primaryColor, 60);
          top: 0;
          left: 0;
          display: none;
        }
        ._txt {
          position: absolute;
          padding-left: 15px;
          transition: all .2s ease .3s;
        }
        .submenuopen {
          transition: all .2s ease .3s;
        }
        &.withChild {
          .submenuopen {
            float: right;
            top: 6px;
            position: relative;
            font-size: 0.8em;
          }
        }
      }
      &.active {
        a {
          &:after {
            display: block;
          }
        }
      }
      .submenu {
        overflow: hidden;
        max-height: 0;
        transition: all .3s ease;
        &.open {
          max-height: 300px;
          transition: all .3s ease;
        }
        li {
          a {
            padding: 3px 15px 3px 42px;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

body {
  &.menu-closed {
    #header-wrapper {
      #logo-wrap {
        width: $sidebarClosedWidth;
        transition: all .3s ease .2s;
        #small {
          opacity: 1;
          visibility: visible;
          transition: all .2s ease;
        }
        #big {
          opacity: 0;
          visibility: hidden;
          transition: all .2s ease;
        }
      }
      #header-info {
        left: $sidebarClosedWidth;
        transition: all .3s ease .2s;
      }
    }
    #sidebar-wrap {
      width: $sidebarClosedWidth;
      transition: all .3s ease .2s;
      ul {
        li {
          a {
            ._txt, .submenuopen {
              opacity: 0;
              visibility: hidden;
              transition: all .2s ease;
            }
          }
          .submenu {
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease;
          }
        }
      }
    }
  }
}

#map-wrap {
  height: 350px;
  #map {
    height: 100%;
  }
}

.category-identifier {
  width: 28px;
  height: 28px;
}




