@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/reboot';
@import 'bootstrap/buttons';
@import 'partials/colors';

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

ul {
  &.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

a {
  color: $primaryColor;
  &:hover {
    text-decoration: none;
    color: darken($primaryColor, $amount: 50);
  }
}

.modal-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.69);
  z-index: 999;
  opacity: 1;
  visibility: visible;
  .modal {
    width: 800px;
    max-width: 100%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: auto min-content;
    .modal-inner {
      background: #fff;
      min-height: 400px;
      position: relative;
      .modal-loader {
        position: absolute;
        height: 100%;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        &.off {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    .modal-close {
      color: #fff;
      padding: 0 0 0 18px;
      height: max-content;
      cursor: pointer;
    }
  }
  &.off {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
  }
}

#toast-wrap {
  position: absolute;
  width: 100%;
  .toast {
    width: 450px;
    background: $blue;
    margin: 9px auto;
    color: #fff;
    padding: 3px 15px;
    border-radius: 3px;
    position: relative;
    top: 42px;
    text-align: center;
    cursor: pointer;
    &.bg-danger, &.bg-error {
      background: $red;
    }
    &.bg-info {
      background: $blue;
    }
  }
}

table {
  width: 100%;
  th,td {
    padding: 6px;
  }
  tr {
    td {
      span {
        &.edit-cell {
          opacity: 0;
          visibility: hidden;
          li {
            margin-left: 6px;
          }
        }
      }
    }
    &:hover {
      td {
        span {
          &.edit-cell {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  th {
    background: lighten($primaryColor, $amount: 15);
    color: #fff;
    font-weight: 500;
  }
  &.striped {
    tr:nth-child(odd) {
      background: lighten($primaryColor, $amount: 30);
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  &.lined {
    tr {
      border: 1px solid lighten($primaryColor, $amount: 30);
    }
  }
}
