@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/reboot';
@import 'bootstrap/buttons';
@import 'partials/colors';

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

ul {
  &.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

a {
  color: $primaryColor;
  &:hover {
    text-decoration: none;
    color: darken($primaryColor, $amount: 50);
  }
}

#toast-wrap {
  position: absolute;
  width: 100%;
  .toast {
    width: 450px;
    background: $blue;
    margin: 9px auto;
    color: #fff;
    padding: 3px 15px;
    border-radius: 3px;
    position: relative;
    top: 42px;
    text-align: center;
    cursor: pointer;
    &.bg-danger, &.bg-error {
      background: $red;
    }
    &.bg-info {
      background: $blue;
    }
  }
}

table {
  width: 100%;
  th,td {
    padding: 6px;
  }
  tr {
    td {
      span {
        &.edit-cell {
          opacity: 0;
          visibility: hidden;
          li {
            margin-left: 6px;
          }
        }
      }
    }
    &:hover {
      td {
        span {
          &.edit-cell {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  th {
    background: lighten($primaryColor, $amount: 15);
    color: #fff;
    font-weight: 500;
  }
  &.striped {
    tr:nth-child(odd) {
      background: lighten($primaryColor, $amount: 30);
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  &.lined {
    tr {
      border: 1px solid lighten($primaryColor, $amount: 30);
    }
  }
}
