doctype html
html
	head
		title= `${title || 'Error'} | Portal`

		//- Fonts
		//- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500" rel="stylesheet">

		//- Page specific styles
		if styles
			each style in styles
				link(rel="stylesheet", href=style)

		link(rel='stylesheet', href='/dist/css/themify-icons.css')
		link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/dist/css/global.min.css')

	body
		#loader
			.spinner
		script.
			window.addEventListener('load', () => {
				const loader = document.getElementById('loader');
				setTimeout(() => {
				loader.classList.add('fadeOut');
				}, 300);
			});
		#wrapper
			#header-wrapper
				#logo-wrap
					#small
						h2 p
					#big
						h2 portal
				#header-info
					#menu-clicker
						span.ti-menu
							
			block messages
				if locals.flashes
					#toast-wrap
						.container
							.row
								.col-sm
									- categories = Object.keys(locals.flashes)
										each category in categories
											each message in locals.flashes[category]
												div(class=`toast toast-${category}`)
													._message #{message}
													span.closeToast
														i.ti-close
			#content-wrapper
				block sidebar
					#sidebar-wrap
						ul
							li.active
								a(href="#")
									span.ti-home
									span._txt Dashboard
							li
								a.withChild(href="#")
									span.ti-book
									span._txt Catalog
									span.ti-angle-down.submenuopen
								ul.submenu
									li
										a(href="#") Add New
									li
										a(href="#") Categories
									li
										a(href="#") View All
							li
								a(href="#")
									span.ti-control-shuffle
									span._txt Transactions
							li
								a(href="#")
									span.ti-map
									span._txt Locations
							li
								a(href="#")
									span.ti-package
									span._txt Brands
							li
								a(href="#")
									span.ti-stats-up
									span._txt Reports
							li
								a(href="#")
									span.ti-user
									span._txt Users
							li
								a(href="#")
									span.ti-search
									span._txt Search
							
					#content-inner
						block content

		//- script(src='/dist/js/bootstrap.min.js')
		script(src='/dist/js/portalscripts.bundle.js')
