extends layout-unsecure

block content
	#login_wrapper
		block messages
			if locals.flashes
				#toast-wrap
					- categories = Object.keys(locals.flashes)
						each category in categories
							each message in locals.flashes[category]
								div(class=`toast bg-${category}`)
									._message #{message}
		#login-form
			h2= title
			#login-inner
				form.basic-form(action="/login", method="POST")
					.control-row
						input(type="text", name="email", placeholder="Email", required)
					.control-row
						input(type="password", placeholder="Password", name="password", required)
					.control-row
						button.btn.btn-primary Login
				//- ul.list-inline
				//- 	li.list-inline-item
				//- 		a(href="#") Forgot Password
					