extends ../layout

block content
  .page-title
    h1 #{title}
    form.columned(action=`/user/${editUser._id}` method="POST")
      .card-row.grid-half-half
        .card
          .card-title User Information
          .control-row
            label(for="name") Full Name
            input#text(type="text" name="name" required value=editUser.name)
          .control-row
            label(for="email") Email Address
            input#email(type="email" name="email" required value=editUser.email)
          .control-row
            div
              label(for="password") Password
              p.small Leave blank to keep password unchanged
            input#password(type="password" name="password")
          .control-row
            label(for="confirm-password") Confirm Password
            input#confirm-password(type="password", name="confirm-password")
      br
      button.btn.btn-primary Submit
