extends ../layout

block content
  .page-title
    h1 #{title}
    form.columned(action="/users/new" method="POST")
      .card-row.grid-half-half
        .card
          .card-title User Information
          .control-row
            label(for="name") Full Name
            input#text(type="text" name="name")
          .control-row
            label(for="email") Email Address
            input#email(type="email" name="email")
        .card
          .card-title Store Information
      