extends ../layout

block content
  .page-title
    h1 Brands
  .card-row.grid-aside
    .card
      .card-title All Brands
      table.striped
        tr
          th Brand Name
          th Stores
          th Action
        tr
           td
           td 
           td 
             span.edit-cell
                 ul.list-inline
                   li
                     a(href=`#` title="Edit")
                       span.ti-pencil
                   li
                     a.delBrand(href=`#` title="Delete")
                       span.ti-trash
    .card
      .card-title Add New
      ._main
        form.stacked(action="/brands" method="POST")
          .control-row
            label(for="name") Name
            input#name(type="text" name="name")
            .control-row
              label(for="store") Store
              select(name="store")
                option(value="0") -- Select Store
                option(value="1") 
          .control-row  
            button.btn.btn-primary Submit        